body {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.banner-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1F3A;
    color: #FAFAFA;
    height: 6rem;
    width: 95%;
    border-radius: 0 0 4.5rem 4.5rem;
}

.banner>h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 4rem;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 10%;
    height: 100%;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #1E1F3A 0.25rem solid;
    width: 350px;
    height: 450px;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #1e1f3a9c;
}

.name {
    background-color: #1E1F3A;
    border-radius: 0 0 3rem 3rem;
    font-size: 2rem;
    width: 75%;
    color: #FAFAFA;
    text-align: center;padding: 1rem;
    font-family: 'Source Sans Pro', sans-serif;

}

.card-info {
    margin-top: 30%;
    border:#1E1F3A solid 0.25rem;
    line-height: 2;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    color: #FAFAFA;
    background-color: #1E1F3A;
    font-family: 'Source Sans Pro', sans-serif;

}
